@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

/* Adicione suas animações personalizadas */
@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

@keyframes float-reverse {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(10px); }
}

.animate-float {
  animation: float 6s ease-in-out infinite;
}

.animate-float-reverse {
  animation: float-reverse 5s ease-in-out infinite;
}


@keyframes gradientPulse {
  0% {
    background-position: 0% 50%;
    filter: drop-shadow(0 0 10px #c084fc75) drop-shadow(0 0 20px #c084fc75);
  }
  50% {
    background-position: 100% 50%;
    filter: drop-shadow(0 0 10px #7e22ce75) drop-shadow(0 0 20px #7e22ce75);
  }
  100% {
    background-position: 0% 50%;
    filter: drop-shadow(0 0 10px #c084fc75) drop-shadow(0 0 20px #c084fc75);
  }
}

.gradient-glow {
  @apply font-bold text-transparent bg-clip-text;
  background-image: linear-gradient(270deg, #c084fc, #7e22ce, #c084fc);
  background-size: 200% 200%;
  animation: gradientPulse 6s ease infinite;
}
